.blog-header {
  height: 80px;
  width: 1440px;
  position: relative;
  background: #ffffff;
  margin-bottom: 26px;
  &-title__wrapper {
    position: absolute;
    top: 25px;
    left: 10px;
  }
  &-button__wrapper {
    display: flex;
    position: absolute;
    align-items: center;
    right: 34px;
    top: 15px;
    gap: 15px;
  }
  &-text {
    padding: 10px 15px;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
  }
  &-text:hover {
    cursor: pointer;
    color: #1890ff;
    border: 2px solid #1890ff;
    border-radius: 5px;
  }
  &__btn {
    outline: none;
    box-shadow: none;
    background: #ffffff;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
    border: none;
    padding: 5px 18px;
  }
  &__btn:hover {
    border: 1px solid rgba(0, 0, 0, 0.85);
    // padding: 10px;
    border-radius: 5px;
  }
  &__btn-green {
    padding: 10px;
    color: #52c41a;
    border: 1px solid #52c41a;
    border-radius: 5px;
    background: #ffffff;
    font-size: 18px;
    line-height: 28px;
  }
  &__btn-green:hover {
    color: #ffffff;
    background: #52c41a;
  }
}
