.wrapper-new-post {
  width: 938px;
  height: 100%;
  background: #ffffff;
  border-radius: 6px;
}
.new-post {
  width: 300px;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 8px;
  padding-left: 10px;
  &__container {
    text-align: center;
    margin-top: 50px;
  }
  &__title {
    width: 874px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }
  &__body {
    width: 874px;
    height: 168px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }
  &__header {
    padding: 48px 0 21px;
  }
  &__checkbox {
    margin-top: 38px;
    margin-left: 1px;
  }
  &__label-text {
    padding: 0px 20px 0 10px;
    color: #595959;
  }
  &__button {
    width: 300px;
    height: 40px;
    margin-top: 13px;
    background: #1890ff;
    color: #ffffff;
    border: 1px solid #1890ff;
    margin-bottom: 10px;
    border-radius: 6px;
  }
  &__span {
    color: #1890ff;
  }
  &__text-account {
    color: #8c8c8c;
    padding-bottom: 20px;
  }
  &__label {
    display: flex;
    padding-left: 33px;
    padding-top: 12px;
  }
  &__container__tags {
    display: flex;
    margin-left: 33px;
    flex-direction: column;
  }
  &__container__button {
    display: flex;
    gap: 16px;
  }
  &__error-message {
    color: #ff0000;
  }
  &__btn-del {
    width: 90px;
    height: 39px;
    background: #ffffff;
    border-radius: 6px;
    color: #f5222d;
    border: 1px solid #f5222d;
  }
  &__btn-del:hover {
    color: #ffffff;
    background:  #f5222d;
  }
  &__btn{
    width: 90px;
    height: 39px;
    background: #ffffff;
    border-radius: 6px;
    color: #1890ff;
    border: 1px solid #1890ff;
    margin: 8px 0 11px;
  }
  &__btn:hover {
    
    color: #ffffff;
    background: #1890ff;
  }
}

